# OS
.DS_Store

# IDE
.idea

# libs
js/lib
js/lib/audiojs
css/lib
test/lib
demo/lib

# generated css
css/app/lists/*.css
css/app/editors/*.css
demo/demo.css

# demo files
demo/ls000-der-lautsprecher.mp3

# Grunt and build
dest
node_modules
