.timeplayer
{
  width: 400px;
  padding: 5px 5px 0 5px;

  background-color: white;
  border-radius: 7px;

  > .time
  {
    font-family: monospace;
    text-align: center;
    width: 100%;
    display: block;
  }

  > button
  {
    width: 110px;
    margin: 0 auto;
    margin-left: 10px;
  }
}