body, html
{
  height: 100%;
}

.step
{
  display: none;

  &.active
  {
    display: block;
  }
}

#login
{
  > #loginForms
  {
    width: 445px;
    margin: 0 auto;

    > div
    {
      width: 210px;
      display: inline-block;

      input
      {
        width: 175px;
      }

      h2
      {
        margin-top: 0;
      }

      &#l_login
      {
        text-align: right;
        margin-right: 10px;
      }

      &#l_register
      {
        margin-left: 10px;
      }
    }
  }

  > #l_twitter
  {
    font-size: 120%;
    cursor: pointer;
    text-align: center;
    margin-top: 15px;

    > i
    {
      color: #00aced;
    }
  }

  .error
  {
    color: darkred;
  }
  .success
  {
    color: green;
  }

  .field
  {
    margin-bottom: 5px;

    > span
    {
      width: 100px;
      display: inline-block;
    }
    > input
    {

    }
  }
}

#footer
{
  margin: 5px 5px 0 5px;
  height: 20px;

  #versionLink
  {
    float: left;
  }

  #flattrButton
  {
    float: right;
  }
}

#initwrapper
{
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;

  width: 100%;
  min-height: 100%;

  > div:first-child
  {
    @bgcolor: #FFF;
    border-radius: 50px;
    background-color: @bgcolor;
    box-shadow: 0 0 100px @bgcolor;
    color: black;
    position: relative;

    width: 60%;

    padding: 20px;
    padding-top: 1px;

    margin: 50px auto;

    > #about
    {
      float: left;
      margin-top: 20px;
      margin-left: 20px;

      color: inherit;
      text-decoration: none;
    }

    > #rightWrapper
    {
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      display: none;

      > * {
        cursor: pointer;
      }
    }
  }

  &:before
  {
    content: "";
    position: absolute;
    background-color: gray;
    /* http://subtlepatterns.com/diamond-upholstery/ */
    background-image: url("diamond_upholstery.png");
    z-index: -1;
    width: 100%;
    min-height: 100%;
  }
}

#mainTitle
{
  text-align: center;
  margin: 15px;
  clear: both;
  position: relative;

  > #betalabel
  {
    display: none;

    font-size: 0.8em;
    color: red;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: 100px;
    transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg);
  }
}

#loginLocks
{
  width: 100px;
  margin: 0 auto;

  > i
  {
    font-size: 7.5em;
  }
}

#docChooser
{
  > #docsWrapper
  {
    height: 300px;
    overflow-y: scroll;

    > #docs
    {
      td.btns
      {
        width: 170px;

        button
        {
          margin-right: 5px;
          margin-bottom: 0 !important;
          padding: 4px 14px;
        }
      }
      tr
      {
        cursor: pointer;
      }
    }
  }

  #noDocs
  {
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
  }

  #createDoc
  {
    float: right;
  }
}

#docEdit
{
  .section
  {
    margin-top: 1.5em;

    h3
    {
      margin-bottom: 0.8em;
      margin-top: 0;
    }
  }

  .field
  {
    margin-bottom: 10px;

    &:last-child
    {
      margin-bottom: 0;
    }

    > label
    {
      display: inline-block;
      width: 70px;
    }
  }

  #docEdit_player
  {
    > div:first-child
    {
      > *
      {
        display: inline-block;
      }
    }

    .playersettings
    {
      display: none;
    }

    #docEdit_player_preview
    {
      margin-top: 5px;
    }

    ul#playerList
    {
      margin: 0;
      margin-left: 5px;
      margin-bottom: 5px;
      padding: 0;
      list-style: none;

      > li
      {
        display: inline-block;

        color: white;
        text-align: center;
        cursor: pointer;

        background-color: black;
        border-radius: 5px;

        padding: 6px;
        height: 20px;
        width: 80px;

        &.active
        {
          font-weight: bold;
        }
      }
    }
  }

  #docEdit_collabs
  {
    #docEdit_collabs_current
    {
      > li
      {
        .controls
        {
          display: inline-block;
          cursor: pointer;
        }
      }
    }

    #docEdit_collabs_search
    {
      position: relative;
      display: inline-block;
      margin-bottom: 10px;

      > input
      {

      }

      > ul
      {
        display: none;

        position: absolute;
        padding: 3px;
        margin: 0;
        list-style: none;

        z-index: 100;
        background-color: #F0F0F0;
        height: 75px;
        width: calc(~"100% - 6px");
        border-radius: 0 0 5px 5px;

        > li
        {
          display: inline-block;
          color: blue;
          cursor: pointer;

          &:after
          {
            content: ",\a0";
          }
          &:last-child:after
          {
            content: "";
          }
        }
      }
    }
  }

  #docEdit_btns
  {
    margin-top: 10px;
  }
}

#title
{
  float: left;
  color: white;
  position: absolute;
  left: 10px;
  top: 2px;
}

#notes
{
  @padding: 10px;

  height: calc(~"100% - 130px");
  width: 100%;
  height: -webkit-calc(~"100% - 130px");
  
  padding-top: @padding;

  overflow-y: scroll;
  overflow-x: auto;
  position: absolute;
}

#playerEditorWrapper
{
  width: calc(100% - 50px);
  width: -webkit-calc(100% - 50px);
  max-width: 520px;
}

#maineditor
{
  margin-bottom: 10px;
  width: 100%;
}

#player
{
  > .audiojs
  {
    width: 100%;
  }

  > .timeplayer
  {
    margin: 0 auto;
  }
}

#exportImport
{
  @btnsWidth: 110px;
  @totalWidth: 500px;

  z-index: 0;
  position: absolute;
  width: @totalWidth;
  right: (@totalWidth + 50px) * -1;
  bottom: 120px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
  padding: 5px;
  border-top-left-radius: 10px;

  > textarea
  {
    width: calc(~"100% - " @btnsWidth + 10px);
    height: 150px;
  }

  > .btns
  {
    width: @btnsWidth - 10px;
    display: inline-block;
  }
}

#bottom
{
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  padding-top: 20px;

  > *
  {
    display: inline-block;
    margin-bottom: 10px;
  }

  > #mainBtns
  {
    box-shadow: none;
    position: absolute;
    top: 5px;
    right: 5px;
    display:block;
    width:auto;

    > *
    {
      display: block;
    }
  }
}

// http://www.bestcssbuttongenerator.com/
button
{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;

  background-color:#f7f7f7;

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;

  border:1px solid #dcdcdc;

  display:inline-block;
  color:#666666;
  font-size:15px !important;
  padding:4px 24px;
  text-decoration:none;

  text-shadow:0px 1px 0px #ffffff;

  margin-bottom: 5px !important;
}

button:hover
{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);

  background-color:#f6f6f6;
}
