body
{
  overflow: hidden;

  &.docChooser
  {
    background-color: gray;

    > *
    {
      display: none;
    }

    > #docChooser
    {
      display: block !important;
    }
  }

  &:not(.docChooser)
  {
    #docChooser
    {
      display: none;
    }
  }
}

#docChooser
{
  display: block;
  position: absolute;
  z-index: 2;

  @bgcolor: white;
  border-radius: 50px;
  background-color: @bgcolor;
  box-shadow: 0 0 100px @bgcolor;
  color: black;

  @height: 600px;
  height: @height;
  @width: 60%;
  width: @width;

  @padding: 20px;
  padding: @padding;
  padding-top: 0;

  top: calc(~"50% - 30px - " (@height + @padding) / 2);
  left: calc(~"50% - (" @padding ~" + " @width ~") / 2");

  > h1
  {
    text-align: center;
  }

  > #docs
  {
    td.btns
    {
      width: 229px;

      > *
      {
        margin-right: 5px;
      }
    }
  }

  > #createDoc
  {
    position: absolute;
    right: (@padding + 10px);
    bottom: @padding;
  }
}

#title
{
  float: left;
  color: white;
  position: absolute;
  left: 10px;
  top: 2px;
}

#notes
{
  @marginTop: 10px;
  @marginLeft: 25px;

  height: calc(~"100% - 120px - " @marginTop);
  width: calc(~"100% - " @marginLeft);

  margin-top: @marginTop;
  margin-left: @marginLeft;

  overflow: scroll;
  position: absolute;
}

#exportImport
{
  @btnsWidth: 110px;
  @totalWidth: 500px;

  z-index: 0;
  position: absolute;
  width: @totalWidth;
  right: (@totalWidth + 50px) * -1;
  bottom: 120px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
  padding: 5px;
  border-top-left-radius: 10px;

  > textarea
  {
    width: calc(~"100% - " @btnsWidth);
    height: 150px;
  }

  > .btns
  {
    width: @btnsWidth - 10px;
    display: inline-block;
  }
}

#bottom
{
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  text-align: center;
  padding-top: 20px;

  > *
  {
    box-shadow: 0 0 15px black;
    display: inline-block;
    margin-bottom: 10px;
  }

  > #mainBtns
  {
    box-shadow: none;
    position: absolute;
    top: 5px;
    right: 5px;

    > *
    {
      display: inline-block;
    }
  }
}

// http://www.bestcssbuttongenerator.com/
button
{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;

  background-color:#f7f7f7;

  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;

  border:1px solid #dcdcdc;

  display:inline-block;
  color:#666666;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:4px 24px;
  text-decoration:none;

  text-shadow:0px 1px 0px #ffffff;

  margin-bottom: 5px;
}

button:hover
{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);

  background-color:#f6f6f6;
}
