ul.list.standard
{
  li
  {
    list-style: none;
  }
  li.addSubnote > i
  {
    cursor: pointer;
  }
  li.note
  {
    > .time
    {
      font-family: monospace;
    }
    > .text
    {
      &:before
      {
        content: "\a0"; // space
      }
    }
    > .editorWrapper
    {
      display: none;
    }
    > .controls
    {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-left: 0.5em;

      & > *
      {
        cursor: pointer;

        &.icon-edit
        {
          position: relative;
          top: 1px;
        }
        &:after
        {
          content: "\a0"; // space
        }
        &:last-child:after
        {
          content: "";
        }
      }
    }
    > ul.tags
    {
      margin: 0;
      padding: 0;
      display: inline-block;

      &:before
      {
        content: "\a0"; // space
      }
      li
      {
        list-style: none;
        display: inline-block;

        &:before
        {
          content: "#";
        }
        &:after
        {
          content: ",\a0"; // ", "
        }
        &:last-child:after
        {
          content: "";
        }
      }
    }
  }
  li.note.editing
  {
    > *
    {
      display: none !important;
    }
    > .editorWrapper
    {
      display: inline-block !important;
      margin: 0;
      padding: 0;
    }
    > .subNotes
    {
      display: block !important;
    }
  }
}
