ul.list.standard
{
  margin: 0;
  padding: 0;

  li
  {
    list-style: none;
  }
  li.note
  {
    &.tag-quote
    {
      font-style: italic;
    }
    &.tag-chapter
    {
      font-weight: bold;
    }
    > .time
    {
      font-family: monospace;
      cursor: pointer;
    }
    > .text
    {
      &:before
      {
        content: "\a0"; // space
      }
    }
    > .link
    {
      &:not(:empty)
      {
        margin-left: 0.25em;
      }
    }
    > .editorWrapper
    {
      display: none;
    }
    > .controls
    {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-left: 0.5em;

      & > *
      {
        cursor: pointer;

        &.icon-edit
        {
          position: relative;
          top: 1px;
        }
        &:after
        {
          content: "\a0"; // space
        }
        &:last-child:after
        {
          content: "";
        }
      }
    }
    > ul.tags
    {
      margin: 0;
      padding: 0;
      display: inline-block;

      &:empty:before
      {
        content: "";
      }
      &:before
      {
        content: "\a0"; // space
      }
      li
      {
        list-style: none;
        display: inline-block;

        &:before
        {
          content: "#";
        }
        &:after
        {
          content: ",\a0"; // ", "
        }
        &:last-child:after
        {
          content: "";
        }
      }
    }
    > ul.subnotes
    {
      padding-left: 40px;

      &:empty
      {
        display: none;
      }
    }
    > div.addSubnote
    {
      padding-left: 40px;

      &.noSubnotes
      {
        padding: 0;
        margin: 0;
        display: inline-block;

        &:before
        {
          content: "\a0"; // space
        }
      }

      > i
      {
        cursor: pointer;
      }
      > .editorWrapper
      {
        display: none;
      }

      &.editing
      {
        > *
        {
          display: none;
        }
        > .editorWrapper
        {
          display: inline-block !important;
        }
      }
    }
  }
  li.note.editing
  {
    > *
    {
      display: none !important;
    }
    > .editorWrapper
    {
      display: block !important;
      margin: 0;
      padding: 0;
      padding-right: 5px;
    }
    > .subNotes
    {
      display: block !important;
    }
  }
}
